<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="My test suite">
    <test name="testing">
        <classes>
            <class name="tests.RunStopwatchTest"/>
            <class name="tests.ResetStopwatchTest"/>
            <class name="tests.RunStopwatchTwiceNoResetTest"/>
            <class name="tests.ChangeShapeToSquareTest"/>
            <class name="tests.ChangeShapeToRoundTest"/>
            <class name="tests.ChangeShapeToRoundedSquareTest"/>
            <class name="tests.ChangeShapeToFullScreenTest"/>
            <class name="tests.ChangeBackgroundColorTest"/>
            <class name="tests.ChangeColorOfDigitsTest"/>
            <class name="tests.ChangeStopwatchColorTest"/>
        </classes>
    </test>
</suite>